@charset "UTF-8";

/* 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Arial", sans-serif;
  background-color: #fff8f1;
}


/* 헤더 스타일 */
header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3e898;
  height: 100px;
  padding: 10px 100px;
  position: fixed;
  width: 100%;
}


.logo {
  display: flex;
  align-items: center;
}


.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}


header .logo span {
  color: #0fa958;
  font-size: 33px;
  font-weight: bolder;
  white-space: nowrap;
  margin-right: 20px;
}


header .login {
  color: #0fa958;
  font-size: 24px;
  font-weight: bolder;
  white-space: nowrap;
}


header .login span a {
  text-decoration: none;
  color: #0fa958;
}


nav ul {
  display: flex;
  list-style: none;
}


nav ul li {
  margin: 0 10px;
}


nav ul li a img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}


.search-login {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
}


.search-login input {
  padding: 5px;
  width: 450px;
  height: 50px;
  border: 2px solid #e3577a;
  border-radius: 5px;
  font-size: 18px;
}


.search-login input:focus {
  outline: none;
  border: 2px solid #e3577a;
}


.search-login button {
  position: absolute;
  margin-left: 385px;
  padding: 5px 10px;
  background: none;
  border: none;
}


.search-login button a img {
  width: 35px;
  height: auto;
}


.user img {
  width: 40px;
  margin-left: 45px;
  margin-right: 10px;
}


/* join_complete 스타일 */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 80px);
  background-color: #fff8f1;
}

.completion-message h1 {
  font-size: 40px;
  font-weight: bold;
  color: #4b5b12;
  margin-bottom: 10px;
  margin-top:50px;
}

.completion-message p {
  font-size: 20px;
  color: #85A26C;
  margin-bottom: 20px;
}

.start-button {
  padding: 15px 20px;
  background-color: #e3577a;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 23px;
  cursor: pointer;
  width: 250px;
}

.start-button a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
